<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzrq.lom.mapper.AlarmDetailMapper">
    <resultMap id="BaseResultMap" type="com.zzrq.lom.dto.AlarmDetail">
        <result column="id" property="id"/>
        <result column="alarm_id" property="alarmId"/>
        <result column="node_id" property="nodeId"/>
        <result column="gateway_id" property="gatewayId"/>
        <result column="sensor_number" property="sensorNumber"/>
        <result column="node_name" property="nodeName"/>
        <result column="gateway_name" property="gatewayName"/>
        <result column="user_name" property="userName"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="alarm_date" property="alarmDate"/>
        <result column="alarm_processing_date" property="alarmProcessingDate"/>
        <result column="alarm_processing_status" property="alarmProcessingStatus"/>
    </resultMap>

    <select id="selectInfo" parameterType="com.zzrq.lom.dto.AlarmDetail" resultMap="BaseResultMap">
        SELECT
            a.alarm_id,
            a.gateway_id,
            a.address,
            a.gateway_name,
            a.latitude,
            a.longitude,
            a.node_id,
            a.node_name,
            a.phone_number,
            a.sensor_number,
            a.user_name,
            h.alarm_date,
            h.alarm_processing_date,
            h.alarm_processing_status
        FROM
            alarm_detail a
        LEFT JOIN alarm_history h ON a.alarm_id = h.alarm_id
        AND h.alarm_processing_status = 1
    </select>

</mapper>